body {
  font-family: Arial, Helvetica, sans-serif;
}

#stat_container > div {
    margin: 3px;
    flex-grow: 1;
    border: solid black 1px;
}

#stat_container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#graph_container {
    background-color: brown;
}

.feature {
     background: linear-gradient(90deg, lightgreen 80%, white 20%);
     border: solid gray 0.5px
}